/target/
/bin/
/coverage/
/bench-results/
package*.json
!crates/openjd-for-js/package.json
!crates/openjd-for-js/package-lock.json
crates/openjd-sessions/src/helper/target/
crates/openjd-sessions/src/helper/Cargo.toml

# Build artifacts
crates/openjd-for-js/node_modules/
pkg-nomod
pkg/

.claude/settings.local.json
